<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="header.component.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg  navbar-light scrolling-navbar  fixed-top">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse  navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav justify-content-center align-items-center h-100">
          <li class="nav-item " routerLinkActive="active">
            
           <a href=""><img  src="/assets/img/LogoNavar.svg " alt="" width="40" height="65" class="d-inline-block align-text-top"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>


</html>