<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pagetrivi.component.css">
</head>

<body>
    <main>
        <section class=" container-fluid banner d-flex">
            <div class="container"></div>
            <div class="row ">
                <div class="content"></div>
             <!---->   <section id="cajaflotante" class="btnflot d-block mx-70">
                    <p class="text-black"> Tramites y servicios te ayudamos con tus tramites.</p>
                    <button class="btn botton1"> ¿Cual es tu tramite?</button>
                </section>
                
            </div>

        </section>
        <section class="about pt-3">
            <div class="container">
                <div class="row section-content">
                 <div class="col-md-6"></div>
                 <h1>segunda pantalla</h1>
                </div>
            </div>
        </section>


    </main>
</body>

</html>